<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog Node!</h1>
  <p class="lead">Este é um blog desenvolvido como parte dos estudos de Node.js + Express + MongoDB</p>
  <hr class="my-4" />
  <p>Aqui você encontrará os principios básicos de desenvolvimento de um CRUD usando Node.js.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<h2>Ultimos posts adicionados:</h2>
<hr />

{{#each postagens}}

  <div class="card mt-3">
    <div class="card-body">

      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/postagem/{{slug}}"> <button class="btn btn-success">Leia mais...</button> </a>
      <hr />
      <small>{{categoria.nome}}</small>
      <br />
      <small>Data de publicação: {{date}}</small>

    </div>
  </div>

{{else}}

  <h5>Nenhuma postagem adicionada...</h5>

{{/each}}

<hr />